########################
# Hyperledger Fabric
########################

# Fabric binaries
bin/

# Crypto material & wallets
test-network/organizations/**/crypto
test-network/organizations/**/wallet
test-network/organizations/**/tlsca
test-network/organizations/**/ca
halal-certification-app/backend/wallets/

# Fabric runtime artifacts
*.block
*.tx

########################
# Node.js
########################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

########################
# Environment & secrets
########################

.env

########################
# Logs
########################

*.log

# MSP artifacts (defensive)
**/msp/keystore/
**/msp/signcerts/

**/connection-*.json

########################
# OS / Editor junk
########################

.DS_Store
Thumbs.db
.vscode/
.idea/